<% comments.each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="comment">
        <p><%= comment.body %><br></p>
        <div class="comment-nav">
          <button class="btn btn-info btn-xs comment-reply" type="button">回复</a>
        </div>
        <div class="reply-form">
          <%= form_for @new_comment do |f| %>
            <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
            <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
            <%= f.hidden_field :comment_id, value: comment.id %>
            <div class="field form-group">
              <%= f.text_area :body, class: 'form-control' %>
            </div>
            <div class="field form-group">
              <%= submit_tag "提交", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= gravatar_for(comment.user, size: 24) %>
      <%= comment.user.nickname %>
      回复于<%= time_ago_in_words(comment.created_at) %>前
    </div>
  </div>

  <div class="comments-show">
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>
  </div>
<% end %>

