<% provide(:title, @app.name) %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="app-item-header">
      <div class="media">
        <div class="media-left">
          <%= link_to image_tag(raw @app.logo), app_path(@app.id), class: 'media-boject' %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= @app.name %></h4>
          <%= @app.size %><br />
          <%= @app.company %><br />
          <%= rating_for @app, 'score', enable_half: true %>
        </div>
        <div class="media-right">
          <%= image_tag((raw @app.qr_code), size: "96x96", alt: @app.name, class: 'media-object') %>
        </div>
      </div>
    </div>
    <div class="category text-center">
      <span class="label label-success"><%= @app.padagogy_category.name %></span>
      <span class="label label-info"><%= @app.subject_category.name %></span>
      <span class="label label-warning"><%= @app.grade_category.name %></span>
    </div>

    <hr />

    <h3>
      应用信息
    </h3>
    <p>
      <%= @app.describe %>
    </p>
  </div>
</div>


<%= render partial: "comments/template", locals: {commentable: @app, new_comment: @new_comment} %>

