<% provide(:title, @post.title) %>

<div class="blog-header">
  <h1 class="blog-title">Padagogy - App评测报告</h1>
  <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
</div>

<div class="blog-post">
  <h2 class="blog-post-title"><%= @post.title %></h2>
  <p class="blog-post-meta"><%= formate_date(@post.created_at) %> <%= link_to @post.user.nickname, '#' %></p>
  <p><%= @post.summary %></p>
  <hr>
  <%= raw @post.body %>
</div>

<nav>
  <ul class="pager">
    <% if @post.previous.present? && @post.next.present? %>
      <li><%= link_to "上一篇", post_path(@post.previous.id) %></li>
      <li><%= link_to "下一篇", post_path(@post.next.id) %></li>
    <% elsif @post.previous.present? %>
      <li><%= link_to "上一篇", post_path(@post.previous.id) %></li>
    <% elsif @post.next.present? %>
      <li><%= link_to "下一篇", post_path(@post.next.id) %></li>
    <% end %>
  </ul>
</nav>
